#sitcom-buttons button {
    margin: 5px;
}

#sitcom-buttons {
    margin: 20px auto;
}

.form-inline {
    text-align: center;
    margin: 20px auto;
}

button#sitcom-submit, label {
    margin: auto 20px;
}

#sitcom-divs {
    vertical-align: middle;
}

.sitcom-div {
    display: inline-block;
    margin: 10px;
}